/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/* styles */
body {
    font-family: Verdana,Arial,sans-serif;
    background: #fff url(rainbow.png) repeat;
    color: #333;
}
#inset {
    margin: 0 auto;
    width: 860px;
}
#container {
    background-color: #fff;
    color: #000;
    padding: 50px 100px;
}
p {
    margin: 20px 0;
}
a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #26B3CF;
}
h1 {
    font-size: 3.8em;
    margin-bottom: 3px;
}
h1 .small {
    font-size: 0.4em;
}
h1 a {
    font-weight: normal;
}
h2 {
    font-size: 1.5em;
}
.ribbon {
    float: right;
}
.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}
pre {
    background: #444;
    color: #fff;
    font-family:'Bitstream Vera Sans Mono','Courier',monospace;
    padding: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}