<h2>Hurl?</h2>

<p>
Hurl is a quick way to fetch any URL - request a website and view the response.
</p>
<p>It's perfect for testing out APIs!</p>
<p>
You can pick your HTTP method, body parameters, headers, and authentication (we will even help you out a bit).
The request and response are nicely formatted for easy API debugging.
</p>
<p>... it's kind of like cURL.</p>