<h2>Your hurls</h2>
<table id="archive">
  <tr>
    <td><a href="#">http://baconfile.com/leah.json</a></td>
    <td>GET</td>
    <td>no auth</td>
    <td class="date">3 days ago</td>
  </tr>
  <tr>
    <td><a href="#">http://twitter.com/status.json</a></td>
    <td>POST</td>
    <td>HTTP basic</td>
    <td class="date">3 days ago</td>
  </tr>
  <tr>
    <td><a href="#">http://baconfile.com/leah.json</a></td>
    <td>GET</td>
    <td>no auth</td>
    <td class="date">3 days ago</td>
  </tr>
</table>