<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Hurl</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css">

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.form.js" type="text/javascript"></script>
    <script src="/js/jquery.autocomplete.js" type="text/javascript"></script>    
    <script src="/js/json2.js" type="text/javascript"></script>    
    <script src="/js/hurl.js" type="text/javascript"></script>
    <script src="/js/hurl.headers.js" type="text/javascript"></script>
</head>
<body>
  <div id="inset">
    <div id="content">
      <div id="nav"><a href="#">sign in</a> to save your requests</div>
      <h1 id="logo"><a href="/">hurl</a></h1>
      <form id="hurl-form" method="post" action=".">
        <p>
          <input type="text" name="url" title="URL"/>
        </p>
        <p>
          <select name="method" class="form-alpha">
            <option id="GET">GET</option>
            <option id="POST">POST</option>
            <option id="PUT">PUT</option>
            <option id="DELETE">DELETE</option>
          </select>
          <span class="form-beta">
            <input type="checkbox" id="follow_redirects" name="follow_redirects" />
            follow redirects
          </span>
        </p>
        <p>
          <select id="select-auth" name="auth" class="form-alpha">
            <option value="none">no auth</option>
            <option value="basic">HTTP basic</option>
          </select>
          <div id="basic-auth-fields" style="display:none;">
            <input type="text" name="basic_username" class="form-alpha" title="username"/>
            <input type="password" name="basic_password" class="form-beta" title="password"/>
          </div>
        </p>
        <p>
          <a id="add-header" href="#">+ add header</a>
        </p>
        <p id="header-fields" style="display:none;">
          <input type="text" name="header-keys[]" class="form-alpha" title="name"/>
          <input type="text" name="header-vals[]" class="form-beta" title="value"/>
          <a href="#"><img class="header-delete" src="/img/delete.png" title="remove"/></a>
        </p>
        <p id="send-wrap" class="clearwrap">
          <button type="submit" class="bigbutton">Send</button>
          <img src="/img/ajax-loader.gif" id="spinner" />
        </p>
      </form>
      <div id="request-and-response" style="display:none;">
        <p>
          <span class="toggle-reqres" style="display: none;">request : <a class="toggle-reqres-link" href="#">response</a></span>
          <span class="toggle-reqres"><a class="toggle-reqres-link" href="#">request</a> : response</span>
        </p>
        <div id="code-request" class="code-wrap" style="display: none;">
          <div id="request" class="code-text">
          </div>
        </div>
        <div id="code-response" class="code-wrap">
          <div id="response" class="code-text">
          </div>
        </div>
      </div>
    </div>      
  </div>
</body>
</html>