<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Hurl</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.form.js" type="text/javascript"></script>
    <script src="/js/hurl.js" type="text/javascript"></script>    
</head>
<body>
  <div id="inset">
    <div id="content">
      <h1 id="logo">hurl</h1>
      <form id="hurl-form" method="post" action=".">
        <label>URL</label>
        <input type="text" name="url" value="http://ozmm.org" />
        <label>Method</label>
        <select name="method">
          <option id="GET">GET</option>
          <option id="POST">POST</option>
          <option id="PUT">PUT</option>
          <option id="DELETE">DELETE</option>
        </select>
        <div style="display:none;">
        <label>Body</label>
        <textarea name="body"></textarea>
        </div>
        <label>Auth</label>
        <select name="auth">
          <option id="none">None</option>
          <option id="basic">HTTP Basic</option>
        </select>
        <p class="clearwrap"><button type="submit" class="bigbutton">Send</button></p>
      </form>
      <label>Request</label>
      <div class="code-wrap">
        <div id="request" class="code-text">
        </div>
      </div>
      <label>Response</label>
      <div class="code-wrap">
        <div id="response" class="code-text">
        </div>
      </div>
    </div>
  </div>
</body>
</html>