<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>hurl</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css">
    <link rel="stylesheet" type="text/css" href="/css/facebox.css">

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.form.js" type="text/javascript"></script>
    <script src="/js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="/js/jquery.relatize_date.js" type="text/javascript"></script>    
    <script src="/js/json2.js" type="text/javascript"></script>    
    <script src="/js/hurl.js" type="text/javascript"></script>
    <script src="/js/hurl.headers.js" type="text/javascript"></script>
    <script src="/js/facebox.js"type="text/javascript"></script>
</head>
<body>
  <div id="inset">
    <div id="header">
      <div id="nav">
        <% if logged_in? %>
          <a href="/hurls/" class="nav-item">your hurls</a>
          <a href="/logout/" class="nav-item">log out</a>
        <% else %>
          <a href="#facebox-log-in" rel="facebox">log in</a> to save your hurls
        <% end %>
      </div>
      <h1 id="logo"><a href="/">hurl</a></h1>
    </div>
    <div id="content">
      <p class="flash-error" style="display: none;">
        <a href="#" class="flash-close"><img src="/img/delete.png" title="remove"/></a>
        <span id="flash-error-msg"></span>
      </p>
      <p class="flash-notice" <% if not @flash %>style="display: none;"<% end %>>
        <a href="#" class="flash-close"><img src="/img/delete.png" title="remove"/></a>
        <span id="flash-notice-msg"><%= @flash %></span>
      </p>
      <%= yield %>
    </div>
    <div id="footer"><a href="/about/">what the heck is this?</a></div>
  </div>
  <%= erb(:login, :layout => false) %>
</body>
</html>