<div id="facebox-signin" style="display: none;">
  <div class="facebox">
    <p class="error-msg">Username and password do not match.</p>
    <p>
      <input type="text" name="email" title="email" />
    </p>
    <p>
      <input type="password" name="password" title="password" />
    </p>
    <p>
      <button>Sign in</button>
      <button style="float:right;">Sign up</button>      
    </p>
  </div>
</div>