<div id="facebox-signin" style="display: none;">
  <div class="facebox">
    <p>
      <input type="text" name="email" />
    </p>
    <p>
      <input type="password" name="password" />
    </p>
    <p><button class="bigbutton">Sign in</button></p>
  </div>
</div>