<div id="stats">
  <h2>Stats</h2>

  <table>
    <% sort_hash(stats).each do |stat, value|  %>
      <tr>
        <td><%= stat %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>

  <h2>Redis</h2>

  <table>
    <% sort_hash(Hurl.redis.info).each do |stat, value|  %>
      <tr>
        <td><%= stat %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>
</div>
