/* forms */
label {
  font-size: 16px;
}
select,
input[type=text],
input[type=password],
textarea {
  -x-system-font:none;
  color:#333;
  font: 1em "lucida Grande",arial,sans-serif;
  font-size: 16px;
  font-size-adjust:none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  padding: 5px;
  border: 1px solid #bbb;
  width: 748px;
  margin: 2px 0;
}
select.form-alpha {
  width: 290px;
}
input[type=text].form-alpha {
  width: 280px;    
}
.facebox input[type=text],
.facebox input[type=password] {
  width: 380px;
}
input[type=text].form-beta,
input[type=password].form-beta {
  width: 444px;
}
.form-beta {
  margin-left: 6px !important;
}
.header-delete,
.param-delete {
  float: right;
  margin-right: -20px;
  padding-top: 7px;
}
.flash-close {
  float: right;
  margin-right: -26px;
}
.header-delete img,
.param-delete img,
.flash-close img {
  opacity: 0.5;
}
/* buttons */
button {
  font: 1em "Helvetica Neue", Arial, sans-serif;
  color: #333;
  padding: 0.365em 10px;
  line-height: 1.4em;
  font-weight: bold;
  cursor: pointer;
  background: #e9eaea url(/img/buttonbg.png) repeat-x;
  border: 1px solid #ccc;
  text-shadow: 1px 1px 0 #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 1;
}
#send-wrap {
  height: 40px;
  margin-top: 16px;
}
#send-wrap img {
  padding: 0.8em 10px;
  line-height: 1.4em;
}
#spinner {
  padding-right: 9px 1px;
  display: none;
}
/* general */
body {
  font: 1em "lucida Grande",arial,sans-serif;
  background: #fff url(/img/rainbow.png) repeat;
  color: #333;
}
p {
  margin: 6px 0;
}
a {
  text-decoration: none;
  color: #26B3CF;
}
a:hover {
  text-decoration: underline;
}
.clearwrap {
  overflow: hidden;
}
#inset {
  background-color: #fff;
  width: 860px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}
#content {
  margin: 0 50px;
  min-height: 500px;
}
#header {
  padding: 0 50px;
  border-bottom: 5px solid #26B3CF;
  margin-bottom: 30px;
}
h1#logo {
  font-size: 2em;
  font-family:'georgia','bitstream vera serif',serif;
  color: #26B3CF;
}
h1#logo a:hover {
  text-decoration: none;
}
h2 {
  font-family:'georgia','bitstream vera serif',serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}
#nav {
  float: right;
  margin-top: 14px;
}
a.nav-item {
  margin-right: 12px;
}
#footer {
  margin-top: 40px;
  background-color: #26B3CF;
  padding: 4px 50px;
  text-align: right;
}
#footer a {
  color: #fff;
}
#page-prev,
#page-next {
  font-weight: bold;
  margin-top: 7px;
}
#page-prev {
  float: left;
  margin-left: -30px;
}
#page-next {
  float: right;
  margin-right: -30px;
}
#page-prev:hover,
#page-next:hover {
  text-decoration: none;
}
#hurl-form {
  margin: 20px 0;
}
#auth-selection,
#header-selection {
  margin-top: 10px;
}
.utils {
  float: right;
  margin-top: 6px;
}
.link-icon {
  font-weight: bold;
}
.flash-error,
.error-msg {
  padding: 6px 6px 6px 32px;
  background: #ef95a1 url(/img/message-warn.png) 6px 50% no-repeat;
}
.flash-notice {
  padding: 6px 6px 6px 32px;
  /*background-color: #c2dbef;*/
  background: #c2dbef url(/img/message-info.png) 6px 50% no-repeat;
}
.tab-current,
.toggle-reqres-link {
  padding: 6px;
  margin-right: 4px;
}
.tab-current,
.toggle-reqres-link:hover {
  background-color: #26B3CF;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
}
.code-wrap {
  margin-top: 14px;
  background-color: #e9eaea;
  padding: 8px 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.code-text {
  padding: 2px;
  min-height: 60px;
  overflow-y: auto;
  font-family:'Bitstream Vera Sans Mono','Courier',monospace;
  font-size: 14px;
}
/* saved archives page */
table td {
  padding-right: 12px;
  padding-bottom: 6px;
}
td.date {
  color: #e9eaea;
}
.unicorn {
  text-align: center;
}