/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* forms */
label {
    font-size: 16px;
}
select,
input[type=text],
input[type=password],
textarea {
    -x-system-font:none;
    color:#333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-size-adjust:none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    padding: 5px;
    border: 1px solid #bbb;
    width: 890px;
}
select {
    width: 168px;
}
.more-options {
  margin-left: 20px;
}
/* buttons */
button {
    font: 1em "Helvetica Neue", Arial, sans-serif;
    color: #333;
    padding: 0.365em 10px;
    line-height: 1.4em;
    font-weight: bold;
    cursor: pointer;
    background: #e9eaea url(/img/buttonbg.png) repeat-x;
    border: 1px solid #ccc;
    text-shadow: 1px 1px 0 #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
button:hover {
    opacity: 0.8;
}
button:active {
    opacity: 1;
}
/* general */
body {
    font: 1em "Helvetica Neue", Arial, sans-serif;
    background: #000 url(/img/background.jpg) repeat;
    color: #333;
}
p {
    margin: 6px 0;
}
.clearwrap {
    overflow: hidden;
}
#inset {
    background-color: #fff;
    width: 900px;
    margin: 0 auto;
    padding: 20px 50px;
}
#content {
}
h1#logo {
    font: 2em "Helvetica Neue", Arial, sans-serif;
    color: #826373;
}
#hurl-form {
  margin: 20px 0;
}
.code-wrap {
    background-color: #e9eaea;
    padding: 8px 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.code-text {
    min-height: 60px;
    max-height: 400px;
    overflow-y: auto;
    font-family:'Bitstream Vera Sans Mono','Courier',monospace;
}