/* general */
body {
  font: 1em "lucida Grande",arial,sans-serif;
  background: #fff url(/img/rainbow.png) repeat;
  color: #333;
}
p {
  margin: 6px 0;
}
a {
  text-decoration: none;
  color: #26B3CF;
}
a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.clearwrap {
  overflow: hidden;
}
/* forms */
label {
  font-size: 16px;
}
select,
input[type=text],
input[type=password],
textarea {
  -x-system-font:none;
  color:#333;
  font: 1em "lucida Grande",arial,sans-serif;
  font-size: 16px;
  font-size-adjust:none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  padding: 5px;
  border: 1px solid #bbb;
  width: 748px;
  margin: 2px 0;
}
select.form-alpha {
  width: 290px;
}
input[type=text].form-alpha {
  width: 280px;    
}
.facebox input[type=text],
.facebox input[type=password] {
  width: 380px;
}
input[type=text].form-beta,
input[type=password].form-beta {
  width: 444px;
}
.form-beta {
  margin-left: 6px !important;
}
#uri-template-params {
  margin: 1em 0;
  font-size: 80%;
}
#uri-template-params label {
  display: block;
  font-size: inherit;
  text-transform: capitalize;
}
#uri-template-params input[type=text] {
  width: 280px;
  font-size: inherit;
}
/* buttons */
button {
  font: 1em "Helvetica Neue", Arial, sans-serif;
  color: #333;
  padding: 0.365em 10px;
  line-height: 1.4em;
  font-weight: bold;
  cursor: pointer;
  background: #e9eaea url(/img/buttonbg.png) repeat-x;
  border: 1px solid #ccc;
  text-shadow: 1px 1px 0 #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 1;
}
#send-wrap {
  height: 40px;
  margin-top: 16px;
}
#send-wrap img {
  padding: 0.8em 10px;
  line-height: 1.4em;
}
#spinner {
  padding-right: 9px 1px;
  display: none;
}
/* close buttons */
img.delete {
  opacity: 0.5;
}
.header-delete,
.param-delete {
  float: right;
  margin-right: -20px;
  padding-top: 7px;
}
.flash-close {
  float: right;
  margin-right: -26px;
}
/* layout */
#inset {
  background-color: #fff;
  width: 860px;
  margin: 0 auto;
  padding-bottom: 40px;
}
#content {
  margin: 0 50px;
}
#header {
  padding: 20px 50px 5px 50px;
  border-bottom: 5px solid #26B3CF;
  margin-bottom: 30px;
}
#nav {
  float: right;
  margin-top: 34px;
}
a.nav-item {
  margin-right: 12px;
}
#footer {
  margin-top: 60px;
  background-color: #26B3CF;
  padding: 4px 50px;
  text-align: right;
}
#footer a {
  color: #fff;
}
/* homepage */
#page-prev,
#page-next {
  font-weight: bold;
  margin-top: 7px;
}
#page-prev {
  float: left;
  margin-left: -30px;
}
#page-next {
  float: right;
  margin-right: -30px;
}
#page-prev:hover,
#page-next:hover {
  text-decoration: none;
}
#hurl-form {
  margin: 20px 0;
}
#auth-selection,
#header-selection {
  margin-top: 10px;
}
.utils {
  float: right;
  margin-top: 6px;
}
.link-icon {
  font-weight: bold;
}
/* flash */
.flash-error,
.error-msg {
  padding: 6px 6px 6px 36px;
  background: #ef95a1 url(/img/message-warn.png) 6px 50% no-repeat;
}
.flash-notice {
  padding: 6px 6px 6px 36px;
  background: #86EF9E url(/img/message-info.png) 6px 50% no-repeat;
}
/* help text */
#help-text {
  text-align: center;
  background-color: #eee;
  margin: 20px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 0;
}
ul.examples li {
  padding-left: 24px;
  margin: 3px 0;
}
ul.examples li.twitter {
  background: #fff url(http://twitter.com/favicon.ico) 0 40% no-repeat;
}
ul.examples li.vimeo {
  background: #fff url(http://vimeo.com/favicon.ico) 0 40% no-repeat;
}
ul.examples li.github {
  background: #fff url(http://github.com/favicon.ico) 0 40% no-repeat;
}
ul.examples li.baconfile {
  background: #fff url(http://baconfile.com/favicon.ico) 0 40% no-repeat;
}
/* request/response area */
.tab-current,
.toggle-reqres-link {
  padding: 6px;
  margin-right: 4px;
}
.tab-current,
.toggle-reqres-link:hover {
  background-color: #26B3CF;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
}
.code-wrap {
  margin-top: 14px;
  background-color: #eee;
  padding: 8px 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.code-text {
  padding: 2px;
  min-height: 60px;
  overflow-y: auto;
  font-family:'Bitstream Vera Sans Mono','Courier',monospace;
  font-size: 14px;
}
/* saved archives page */
table td {
  padding-right: 12px;
  padding-bottom: 6px;
}
td.date {
  color: #aaa;
}
/* about */
.blurb {
  margin: 20px 0;
}
.blurb p {
  margin: 10px 0;
}
#about-video {
  text-align: center;
  margin-bottom: 20px;
}
/* stats */
#stats h2 {
  color: #26B3CF;
  margin-bottom: 6px;
}
#stats table {
  margin-bottom: 15px;
}
/* error */
.unicorn {
  text-align: center;
}