<h2>Hurl?</h2>
<div class="blurb">
<p>Hurl makes HTTP requests.</p>
<p>Choose the request method, customize headers and POST parameters, add basic authorization, and even follow redirects.
Then view the nicely formatted request and response.</p>
<p>It's the perfect tool for testing APIs. Just enter a URL and click send.</p>
</div>

<div id="about-video">
  <object width="504" height="359">
    <param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" />
    <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=6238577&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=26B3CF&amp;fullscreen=1" />
    <embed src="http://vimeo.com/moogaloop.swf?clip_id=6238577&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=26B3CF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="504" height="359">
    </embed>
  </object>
</div>

<div class="blurb">
  <p>Hurl was created by <a href="http://ozmm.org/">Chris Wanstrath</a> and <a href="http://leahculver.com/">Leah Culver</a>
  for the 2009 <a href="http://r09.railsrumble.com/">Rails Rumble</a>.</p>
  <p>Follow Hurl on Twitter: <a href="http://twitter.com/hurlit">@hurlit</a></p>
  <p>Grab the source code: <a href="http://github.com/defunkt/hurl">http://github.com/defunkt/hurl</a></p>
  <br/>
  <p>... and it's kind of like <a href="http://curl.haxx.se/">cURL</a>.</p>
</div>