{{# everything_installed?}}
  <h2>Congrats &mdash; you've successfully installed Hurl!</h2>
{{/ everything_installed?}}

{{^ everything_installed?}}
  <h2>You're almost done installing Hurl...</h2>

  <ul id="install">
    {{^ xmllint_installed?}}
      <li>
        <p>
          xmllint isn't installed!
          install it:
        </p>

        <pre><code>{{ xmllint_install }}</code></pre>
      </li>
    {{/ xmllint_installed?}}

    {{^ simplejson_installed?}}
      <li>
        <p>
          simplejson isn't installed!
          install it:
        </p>

        <pre><code>{{ simplejson_install }}</code></pre>
      </li>
    {{/ simplejson_installed?}}

    {{^ pygments_installed?}}
      <li>
        <p>
          Pygments isn't installed!
          install it:
        </p>

        <pre><code>{{ pygments_install }}</code></pre>
      </li>
    {{/ pygments_installed?}}
  </ul>
{{/ everything_installed?}}