<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>hurl</title>
    <meta content="Hurl makes HTTP requests and is the perfect tool for testing APIs." name="description" />

    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css">
    <link rel="stylesheet" type="text/css" href="/css/facebox.css">

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.form.js" type="text/javascript"></script>
    <script src="/js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="/js/jquery.relatize_date.js" type="text/javascript"></script>
    <script src="/js/json2.js" type="text/javascript"></script>
    <script src="/js/hurl.js" type="text/javascript"></script>
    <script src="/js/hurl.headers.js" type="text/javascript"></script>
    <script src="/js/facebox.js"type="text/javascript"></script>
</head>
<body>
  <div id="inset">
    <div id="header">
      <div id="nav">
        {{# logged_in? }}
          {{# user}}
            <a href="/hurls/" class="nav-item">
              <img src="{{ gravatar_url }}" class="gravatar">
              {{ login }}'s hurls
            </a>
          {{/ user}}
          <a href="/logout/" class="nav-item">log out</a>
        {{/ logged_in? }}

        {{^ logged_in?}}
         <a href="/login/">log in</a> to save your hurls
        {{/ logged_in?}}
     </div>
      <a href="/"><img src="/img/logo.png" title="hurl" /></a>
    </div>
    <div id="content">
      <p class="flash-error" style="display: none;">
        <a href="#" class="flash-close"><img class="delete" src="/img/delete.png" title="remove"/></a>
        <span id="flash-error-msg"></span>
      </p>
      <p class="flash-notice" {{# no_flash }}style="display: none;"{{/ no_flash }}>
        <a href="#" class="flash-close"><img class="delete" src="/img/delete.png" title="remove"/></a>
        <span id="flash-notice-msg">{{ flash }}</span>
      </p>
      {{{ yield }}}
    </div>
    <div id="footer">
      <a href="http://twitter.com/hurlit">twitter</a>
      &nbsp;
      <a href="/about/">about</a>
    </div>
  </div>
  {{< login }}
</body>
</html>