<div id="stats">
  <h2>Stats</h2>

  <table>
    {{# hurl_stats}}
     <tr>
        <td>{{ stat }}</td>
        <td>{{ value }}</td>
      </tr>
    {{/ hurl_stats}}
  </table>

  <h2>Disk</h2>

  <table>
    {{# disk_stats}}
     <tr>
        <td>{{ stat }}</td>
        <td>{{ value }}</td>
      </tr>
    {{/ disk_stats}}
  </table>

  <p>
    <b>Deployed SHA:</b>
    <a href='https://github.com/defunkt/hurl/commits/{{ deployed_sha }}'>{{ deployed_sha }}</a>
  </p>
</div>
