<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>hurl</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css">
    <style>
      body {
        font-family:'Bitstream Vera Sans Mono','Courier',monospace;
        font-size: 14px;
        background-color: #e9eaea;
        padding: 8px 16px;
      }
    </style>
</head>
<body>
  {{{ view_request }}}
  {{{ view_header }}}
  {{{ view_body }}}
</body>
</html>
