<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>hurl</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="inset">
        <a href="http://github.com/defunkt/hurl">
            <img class="ribbon" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
        </a>
        <div id="container">
            <h1 class="title">
                <a href="http://github.com/defunkt/hurl">hurl</a>
                <span class="small">by <a href="http://github.com/defunkt">defunkt</a> and <a href="http://github.com/leah">leah</a></span>
            </h1>

            <div class="description">
                Hurl makes HTTP requests.
            </div>
            
            {{{ content }}}

        </div>
    </div>
</body>
</html>
