{{# everything_installed?}}
  <h2>Congrats &mdash; you've successfully installed Hurl!</h2>
{{/ everything_installed?}}

{{^ everything_installed?}}
  <h2>You're almost done installing Hurl...</h2>

  <ul id="install">
    {{^ pygments_installed?}}
      <li>
        <p>
          Pygments isn't installed!
          install it:
        </p>

        <pre><code>{{ pygments_install }}</code></pre>
      </li>
    {{/ pygments_installed?}}
  </ul>
{{/ everything_installed?}}